.traffic-btn-right {
  float: right !important;
  margin-right: 2px;
}
.traffic-btn {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  border: 0;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}
.traffic-btn-disabled {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #aaaaaa;
  border: 0;
  background-color: #f1f1f1 !important;
  background: #f1f1f1 !important;
}
.traffic-btn-disabled:hover {
  background-color: #ffffff;
  background: #ffffff;
  text-decoration: none;
  color: #aaaaaa;
}
.traffic-btn-disabled:focus {
  background-color: #ffffff;
  background: #ffffff;
  text-decoration: none;
  color: #aaaaaa;
}
.traffic-btn-save {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #006633 !important;
  background: #006633 !important;
}
.traffic-btn-save:hover {
  background-color: #228855;
  background: #228855;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-save:focus {
  background-color: #228855;
  background: #228855;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-add {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #53b151 !important;
  background: #53b151 !important;
}
.traffic-btn-add:hover {
  background-color: #75d373;
  background: #75d373;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-add:focus {
  background-color: #75d373;
  background: #75d373;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-print {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #330099 !important;
  background: #330099 !important;
}
.traffic-btn-print:hover {
  background-color: #5522bb;
  background: #5522bb;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-print:focus {
  background-color: #5522bb;
  background: #5522bb;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-back {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #f4a123 !important;
  background: #f4a123 !important;
}
.traffic-btn-back:hover {
  background-color: #ffc345;
  background: #ffc345;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-back:focus {
  background-color: #ffc345;
  background: #ffc345;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-create {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #39968d !important;
  background: #39968d !important;
}
.traffic-btn-create:hover {
  background-color: #5bb8af;
  background: #5bb8af;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-create:focus {
  background-color: #5bb8af;
  background: #5bb8af;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-search {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #6699ff !important;
  background: #6699ff !important;
}
.traffic-btn-search:hover {
  background-color: #88bbff;
  background: #88bbff;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-search:focus {
  background-color: #88bbff;
  background: #88bbff;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-import {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #cc4b2b !important;
  background: #cc4b2b !important;
}
.traffic-btn-import:hover {
  background-color: #ee6d4d;
  background: #ee6d4d;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-import:focus {
  background-color: #ee6d4d;
  background: #ee6d4d;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-close {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #ad0129 !important;
  background: #ad0129 !important;
}
.traffic-btn-close:hover {
  background-color: #cf234b;
  background: #cf234b;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-close:focus {
  background-color: #cf234b;
  background: #cf234b;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-primary {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #006dcc !important;
  background: #006dcc !important;
}
.traffic-btn-primary:hover {
  background-color: #228fee;
  background: #228fee;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-primary:focus {
  background-color: #228fee;
  background: #228fee;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-white {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #f3f3f3 !important;
  background: #f3f3f3 !important;
  color: #333;
}
.traffic-btn-white:hover {
  background-color: #ffffff;
  background: #ffffff;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-white:focus {
  background-color: #ffffff;
  background: #ffffff;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-success {
  line-height: 15px;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #49afcd !important;
  background: #49afcd !important;
}
.traffic-btn-success:hover {
  background-color: #6bd1ef;
  background: #6bd1ef;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-success:focus {
  background-color: #6bd1ef;
  background: #6bd1ef;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-add:disabled,
.traffic-btn-print:disabled,
.traffic-btn-create:disabled,
.traffic-btn-search:disabled,
.traffic-btn-save:disabled,
.traffic-btn-small:disabled,
.traffic-btn-success:disabled,
.traffic-btn-white:disabled,
.traffic-btn-primary:disabled {
  line-height: 15px;
  display: block;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #c7d0d3;
  background: #c7d0d3;
  border: 1px solid #94a1a6;
  min-height: 15px;
  text-decoration: none;
  color: #333;
  min-width: 75px;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  color: #fff;
  border: 0;
  background-color: #c7d0d3 !important;
  background: #c7d0d3 !important;
  cursor: pointer;
}
.traffic-btn-add:disabled:hover,
.traffic-btn-print:disabled:hover,
.traffic-btn-create:disabled:hover,
.traffic-btn-search:disabled:hover,
.traffic-btn-save:disabled:hover,
.traffic-btn-small:disabled:hover,
.traffic-btn-success:disabled:hover,
.traffic-btn-white:disabled:hover,
.traffic-btn-primary:disabled:hover {
  background-color: #e9f2f5;
  background: #e9f2f5;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-add:disabled:focus,
.traffic-btn-print:disabled:focus,
.traffic-btn-create:disabled:focus,
.traffic-btn-search:disabled:focus,
.traffic-btn-save:disabled:focus,
.traffic-btn-small:disabled:focus,
.traffic-btn-success:disabled:focus,
.traffic-btn-white:disabled:focus,
.traffic-btn-primary:disabled:focus {
  background-color: #e9f2f5;
  background: #e9f2f5;
  text-decoration: none;
  color: #fff;
}
.traffic-btn-small {
  font-size: 10px;
  line-height: 12px;
  border-radius: 2px;
  padding: 3px 3px;
  min-height: 12px;
  text-decoration: none;
  min-width: 75px;
  font-weight: normal;
}
/*# sourceMappingURL=buttons.css.map */