table th,
table td {
  font-family: Helvetica, Arial, sans-serif !important;
  vertical-align: top;
}
.traffic-table th .traffic-table td {
  font-family: Helvetica, Arial, sans-serif !important;
}
.traffic-table th label {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
  margin: 0 !important;
}
.traffic-table {
  width: 100%;
}
.traffic-table .traffic-link {
  color: #3f4c6b;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px #3f4c6b dotted;
}
.traffic-table .traffic-link:hover {
  border-bottom: 1px #3f4c6b dotted;
}
.traffic-table th > .control-group,
.traffic-table td > .control-group {
  margin: 0;
}
.traffic-table {
  background-color: #fefefe;
  /** **/
  /*    border: 1px #c6d7e7 solid;*/
  /*border: 1px #fff solid;*/
  border: 0;
  border-collapse: collapse;
}
.traffic-table th,
.traffic-table td,
.traffic-table td label {
  font-size: 12px !important;
  font-family: Helvetica, Arial, sans-serif !important;
  padding: 0  !important;
  margin: 0 !important;
}
/*.traffic-table td {
    border-top: 3px #fff double;
    border-bottom: 1px #fff solid;
}*/
.traffic-table th,
.traffic-table td {
  padding: 2px 3px !important;
  /*border: 1px #fff solid;*/
  border: 0;
}
.traffic-table th {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  /*    color: #ddeaee;*/
  /*    background-color: #4b6a8d;*/
  background-color: #cbd6e3;
  /*border: 1px #cbd6e3 - #111111 solid;*/
  border: 0;
  color: #222225;
}
.traffic-table th label {
  font-weight: bold;
}
.traffic-table-light th {
  background: #dce6e5;
  color: #222c44;
  border: 1px #c9dbd9 solid;
}
.traffic-table .traffic-table-subtitle {
  background: none;
  /*    background-color: #bcd1cf;*/
  background-color: #e8f4f3;
  /*border: 1px #a8c3c0 solid;*/
  border: 0;
  /*    color: #222c44;*/
  color: #333333;
  /*    border: 1px #c9dbd9 solid;*/
  /*border: 1px #e8f4f3 - #070707 solid;*/
}
.traffic-table td {
  text-align: center;
  background: none;
  color: #070227;
}
.traffic-table-left td {
  text-align: left;
}
.traffic-table td.currency {
  text-align: center;
}
.traffic-section,
.traffic-table th.traffic-table-title,
.traffic-table th.invoice-title {
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  /*border-bottom: 1px #5c7c9f - #111111 solid;*/
  border-bottom: 0;
  /*    background: #7d879f;  Old browsers */
  background: #5c7c9f;
  /* Old browsers */
}
.traffic-table .traffic-td-left {
  text-align: left;
}
.traffic-table tr {
  background: none;
}
.traffic-table tr:nth-child(odd) {
  background-color: #f3f7fa;
}
table.hover tr:hover,
table.hover tr:nth-child(odd):hover {
  background: #fbfed9;
}
/*.traffic-table tr:hover,
.traffic-table tr:nth-child(odd):hover {
    background: #fbfed9;
}*/
.traffic-table-borderless td,
.traffic-table-borderless th,
.traffic-table-borderless {
  border: 0;
}
.invoice-table {
  width: 100%;
}
.invoice-table td,
.invoice-table th {
  font-family: Helvetica, Arial, sans-serif !important;
  font-size: 12px !important;
}
.traffic-table-iframe {
  width: 100%;
  background-color: #fefefe;
  /** **/
  /*    border: 1px #c6d7e7 solid;*/
  /*border: 1px #fff solid;*/
  border: 0;
  border-collapse: collapse;
}
.traffic-table-iframe th.subtitle {
  background: #e8f4f3;
}
.traffic-table-iframe th {
  background: none repeat scroll 0 0 #bcd1cf;
  background: #e8f4f3;
  border: 1px #d7e3e2 solid;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  padding: 0;
}
.traffic-table-iframe td {
  text-align: center;
  border: 1px #d7e3e2 solid;
  font-size: 11px;
  padding: 0;
}
/*# sourceMappingURL=table.css.map */